*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table, tr, th, td{
  border:1px solid black;
  background-color: white;
  padding: 5px;

}
.App{
  display: flex; 
  justify-content: center;
  padding-top: 50px;
}